html{
    font-family: Arial, Arial, Helvetica, sans-serif, sans-serif;
}
body {
    background-color: rgb(231,228,209);
}

#italic-text {
    font-size: 4em;
    font-style: italic;
    font-family: "Brush Script MT";
}



.container {
    ​
        /* container width 80% of viewport (device) screen width */
    width: 80vw;
    /* equal left and right margins */
    margin: auto;
    /* leave some space at the top : 7% of viewport height */
    margin-top: 7vh;
    /* remove this once happy with the initial layout */
     background-color:red; 

}

h1 {
    text-align:center;
}

​​



​​